<div class="container dayOfWeekComponent">
  <div class="btn-group a" role="group" aria-label="...">
    <button type="button" class="btn btn-default" ng-class="{active: dayOfWeek==='all'}" ng-click="isActive('all')">All</button>
    <button type="button" class="btn btn-default" ng-class="{active: dayOfWeek==='Sunday'}" ng-click="isActive('Sunday')">Sunday</button>
    <button type="button" class="btn btn-default" ng-class="{active: dayOfWeek==='Monday'}" ng-click="isActive('Monday')">Monday</button>
    <button type="button" class="btn btn-default" ng-class="{active: dayOfWeek==='Tuesday'}" ng-click="isActive('Tuesday')">Tuesday</button>
    <button type="button" class="btn btn-default" ng-class="{active: dayOfWeek==='Wednesday'}" ng-click="isActive('Wednesday')">Wednesday</button>
    <button type="button" class="btn btn-default" ng-class="{active: dayOfWeek==='Thursday'}" ng-click="isActive('Thursday')">Thursday</button>
    <button type="button" class="btn btn-default" ng-class="{active: dayOfWeek==='Friday'}" ng-click="isActive('Friday')">Friday</button>
    <button type="button" class="btn btn-default" ng-class="{active: dayOfWeek==='Saturday'}" ng-click="isActive('Saturday')">Saturday</button>
  </div>
</div>